@media only screen and (max-width:1380px){
    #menu{
        display: block;
  
        margin: 0 auto;
    }
    
    #menu1{
        display: block;
   
        margin: 0 auto;
    }

    img{
        width: 55%;
        height: 70%;
    }

    .city-feature{
        display: flex;
        text-align: center;
        margin-left:43%;
        align-self: center;
        align-items: center;
    }

    span{
        position: relative;
        margin: 0;
    }

    input[type=checkbox]{
        margin: 0px 1px;
    }

    .d{
        align-items: center;
        align-self: center;
    }
}




@media only screen and (max-width:1250px){
    .combo{
        width: 80%;
        height: 80%;
    }

    img{
        width: 80%;
        height: 80%;
    }

    .city-feature{
        display: flex;
        text-align: center;
        margin-left:42%;
        align-self: center;
        align-items: center;
    }

    span{
        position: relative;
        margin: 0;
    }

    input[type=checkbox]{
        margin: 0px 5px;
    }

    label{
        margin: 0px 0px 0px 5px;
        text-align: left;
    }

    #query{
        margin-top: 10px;
    }

    textarea{
        margin-left: 40px;
        margin-top: 10px;
    }

    .d{
        margin: 0 25%;
        align-items: center;
        align-self: center;
    }

    #cs{
        width: 50%;
    }
}

@media only screen and (max-width:900px){
    body{
        text-align: center;
    }

    img{
        width: 80%;
        height: 60%;
    }

    .combo{
        height: 60%;
    }

    h1{
        font-size: 500%;
    }

    .city-feature{
        display: flex;
        text-align: center;
        margin-left:38%;
        align-self: center;
        align-items: center;
    }

    span{
        position: relative;
        margin: 0;
    }

    input[type=checkbox]{
        margin: 0px 5px;
    }

    textarea{
        margin-left: 40px;
    }

    #cs{
        text-align: left;
    }

    .d{
        margin: 0 20%;
    }
}

@media only screen and (max-width:500px){
    .city-feature{
        display: flex;
        text-align: center;
        margin-left:38%;
        align-self: center;
        align-items: center;
    }

    #cs{
        text-align: left;
    }

    .d{
        margin: 0;
    }
}